<launch>
    <arg name="rosbags" />
    <param name="/use_sim_time" value="true" />

    <node pkg="semantic_bki" type="online_mapping_node" name="mapping_node" output="screen">

        <env name="CPUPROFILE" value="/tmp/multi_thread.prof" />
        <env name="LD_PRELOAD" value="/usr/lib/x86_64-linux-gnu/libprofiler.so" />
        <!--env name="OMP_NUM_THREADS" value="1" /-->

        <!-- params from semantickitti_node -->
        <rosparam>
            resolution: 0.3
            block_depth: 3
            # block_size = resolution * 2^(block_depth - 1) (octree depth)
            num_class: 35
            sf2: 10
            ell: 0.3
            prior: 0.001
            var_thresh: 0.09
            free_thresh: 0.3
            occupied_thresh: 0.7

            # the lower the higher the number of points in each inference block
            ds_resolution: -0.1
            free_resolution: 1.
            max_range: 10.
        </rosparam>
    </node>

    <node name="playbag" pkg="rosbag" type="play" args="--clock $(arg rosbags)" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find semantic_bki)/rviz/rellis_3d.rviz" />
</launch>
